html,
body {
    width: 100%;
    height: 100%;
    background: #f7f7f7;
}

#root,
#root > * {
    width: 100%;
    height: 100%;
}

#nprogress .bar {
    background-color: $primary-color !important; //自定义Nprogress颜色
}
