html,
body {
    width: 100%;
    height: 100%;
    background: #fff;
}

#root,
#root > * {
    width: 100%;
    height: 100%;
}

#nprogress .bar {
    background-color: $primary-color !important; //自定义Nprogress颜色
}

//antd  form 横行布局，错误提示会抖动布局
.ant-form-inline .ant-form-item-with-help {
    margin-bottom: 0;
}

.ant-form-inline .ant-form-item-with-help .ant-form-item-explain {
    position: absolute;
}
