@mixin bgurl($url) {
    background-image: url($url);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@mixin pAbsolute {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

@mixin textEllipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@mixin imageCover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

//主题背景色
$primary-color: #181818;

//主题字体颜色
$primary-font-color: #ffd78e;

//主题色 class
.m-primary-font-color {
    color: $primary-font-color;
}

.m-primary-background {
    background: $primary-color;
}
